<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>SHA Generator!</title>

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SHA Generator </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" id="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Typed -->
    <h2 class="typed">
        <span class="auto-input"></span>
    </h2>

    <!-- Input String From User-->
    <div class="container">
        <div class="input-sha">
            <label for="basic-url" class="form-label ">Enter Text <span class="star">*</span></label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-pencil-square"></i></span>
                <textarea class="form-control" oninput="get_hash()" id="sha_text"
                    placeholder="Enter Your Text to generate hash.." aria-label="With textarea"
                    style="height: 107px;"></textarea>
            </div>
        </div>

        <!-- Output Hash -->
        <div class="input-sha">
            <label for="basic-url" class="form-label">Generated Hash</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-hash"></i></span>
                <textarea id="sha" class="form-control" disabled aria-label="With textarea"
                    style="height: 107px;"></textarea>
            </div>
        </div>
        <div class="copy">
            <button type="button" onclick="copyHash()" disabled id="copy-btn" class="btn btn-success copy-btn"><i
                    class="bi bi-clipboard"></i> Copy</button>
        </div>
    </div>


</body>
<script defer src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script defer src="script.js"></script>

</html>